image_to_txt/__pycache__/
run.sh
voter_electoral_home/keys.json
voter_electoral_home/scraper_parser_translator/views/keys.json
voter_electoral_home/scraper_parser_translator/views/pdf_to_txt/keys.json
